# Python_Basics

基本資料型態
*   布林 ( bool ) : True , False
*   整數 ( int ) : 95 , 21230
*   浮點數( float ) : 3.14 , 2.7e5
*   複數( complex ) : 3j , 5+9j
*   字串( str ) : 'C4Lab' , "NTU"
*   串列 ( list ) : ['apple', 'banana', 'orange']
*   tuple : (4, 3, 7)
*   集合( set ) : {45, 123, 981} , set([3, 5, 7])
*   字典( dict ) : {'game' : 'LOL', 'name' : 'matt'}

變數規則以及型態
*	規則:只能有大小寫字母、數字( 0~9 )、底線( _ )，有大小寫之分，開頭必須是字母或底線不能是數字，不能為Python的保留字(e.g True)
*	型態:可以利用type()來得知
*	用print來輸出,用','分隔輸出內容
*   print(*object,sep='',end='')
*   %d 用作整數值的佔位符
*   %s 用作字串值的佔位符

In [ ]:
_a = 1
print('_a',_a,type(_a))

B = 'C4Lab'
print('b',B,type(B))

c0 = True
print('c',c0,type(c0))

d_ = [1,2,3]
print('d',d_,type(d_))

e = (1,2,3)
print('e',e,type(e))

f = {_a:1,B:2}
print('f',f,type(f))

print('12','59','c4Lab',sep='-',end='!')
print('\n')
print('%6s' % '|six','%-6s' % 'eight|')
print('%d' % 24,'%d' % 15.57)

_a 1 <class 'int'>
b C4Lab <class 'str'>
c True <class 'bool'>
d [1, 2, 3] <class 'list'>
e (1, 2, 3) <class 'tuple'>
f {1: 1, 'C4Lab': 2} <class 'dict'>
12-59-c4Lab!

  |six eight|
24 15

數字運算
*	整數除法
3 // 2 = 1 , 17 // 5 = 3
*	取餘數
9 % 2 = 1 , 9 % 5 = 4
*	次方
3 ** 2 = 9 , 5 ** 3 = 125

In [3]:
a = 7
b = 2
print('a + b =',a + b)
print('a - b =',a - b)
print('a * b =',a * b)
print('a / b =',a / b)
print('取商數: a // b =',a // b)
print('取餘數: a % b =',a % b)
print('a的b次方: a ** b =',a**b)

a + b = 9
a - b = 5
a * b = 14
a / b = 3.5
取商數: a // b = 3
取餘數: a % b = 1
a的b次方: a ** b = 49

String
*	用引號建立或是str()建立: 'hello', "2", str(2)
*	可以用+來合併: 'hello' + 'python' >>'hellopython'
*	用[ ]取得字元，[start: end(不包含): step]
*   若start為負數則由後向前數(-1,-2...)並且end和step也須用負數

In [9]:
letters1 = 'abcdefg'
letters2 = 'hijklmn'
letters = letters1 + letters2
print(letters)  #'abcdefghijklmn'
print(letters[0])   #'a'
print(letters[-1])   #'n'
print(letters[6:13])    #'ghijklm'		
print(letters[1::2])    #'bdfhjln'
print(letters[-3:])    #'lmn'
print(letters[-1::-1])  #'nmlkjihgfedcba'
print(letters[-5:-11:-2])   #'jhf'

abcdefghijklmn
a
n
ghijklm
bdfhjln
lmn
nmlkjihgfedcba
jhf

*	用 str.split(separator, maxsplit) 來拆分
*	用 str.replace(oldvalue, newvalue, maxreplace) 來替換
*	用 str.strip([chars]) 來移除字首字尾

In [12]:
a = "C4Lab/is/very-very-good."
print(a.split('/'))	#['C4Lab', 'is', 'very-very-good.']
print(a.split('-', 1)) #['C4Lab/is/very', 'very-good.']

['C4Lab', 'is', 'very-very-good.']
['C4Lab/is/very', 'very-good.']

In [10]:
a = "I can't cancel cans."
print(a.replace('can', 'NTU'))	 # I NTU't NTUcel NTUs.
print(a.replace('can', 'NTU', 2))	 # I NTU't NTUcel cans.

I NTU't NTUcel NTUs.
I NTU't NTUcel cans.

In [ ]:
a = "!*.!!only.?!*letters..!?*?*!"
a.strip('.?!*')	#'only.?!*letters'
print(a)
# how to remove all symbol?

'only.?!*letters'

*	判斷開頭str.startswith()與結尾str.endswith()

In [1]:
a = 'chrATCG'
print(a.startswith('c'))		 #True
print(a.startswith('C'))        #False
print(a.endswith('G'))		  #True
print(a.endswith('5'))      #False

True
False
True
False

*	搜尋字串str.find(chars, start, end)
*   若字串不存在則回傳 -1
*   搜尋的字串為一個字元以上且有找到的話是回傳開始的索引值

In [9]:
a = '/atcg/ATCG'
print(a.find('/'))		#0
print(a.find('/',3,6))	#5
print(a.find('/',7))	#-1
print(a.find('TC'))     #7
print(a.find('X'))		#-1

0
5
-1
7
-1

*	將所有字元改成大寫upper()或小寫lower()

In [2]:
a = 'atcgATCG'
print(a.upper())    #ATCGATCG		
print(a.lower())    #atcgatcg

ATCGATCG
atcgatcg

*	用len() 得到元素數量
*	用in檢測值是否存在

In [5]:
a = 'atcgATCG'
print(len(a))
print('a' in a)
print('b' in a)

8
True
False

list
*	list由零或多個元素組成，以”,”逗號做分隔，並放在[ ]裡

In [7]:
a = []
a = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

*	用len() 得到元素數量
*	用del 刪除元素
*	用in檢測值是否存在

In [8]:
print('len',len(a))
print('e' in a)
print('b' in a)
print('a',a)
del a[1:4]
print('a',a)
print('e' in a)
print('b' in a)

len 7
True
True
a ['a', 'b', 'c', 'd', 'e', 'f', 'g']
a ['a', 'e', 'f', 'g']
True
False

*	用append(obj)來把項目加入尾端
*	用insert(index, obj)在特定位置加入項目
*	用sort()來排列且必須為同類型的元素，reverse可以反過來排序

In [13]:
a = ['a', 'b', 'c', 'd', 'h', 'i']
a.append('a')		 #a = [‘a’, ‘b’, ‘c’, ‘d’, ‘e’, ‘f’, ‘g’, ‘a’]
print(a)
a.insert(1, 'g')		#a = [‘a’, ‘g’, ‘b’, ‘c’, ‘d’, ‘e’, ‘f’, ‘g’, ‘a’]
print(a)
a.sort()			  #a = [‘a’, ‘b’, ‘c’, ‘d’, ‘e’, ‘f’, ‘g’]
print(a)
a.sort(reverse=True)
print(a)

['a', 'b', 'c', 'd', 'h', 'i', 'a']
['a', 'g', 'b', 'c', 'd', 'h', 'i', 'a']
['a', 'a', 'b', 'c', 'd', 'g', 'h', 'i']
['i', 'h', 'g', 'd', 'c', 'b', 'a', 'a']

Dictionary
*	list是使用數字取得元素值的方式，如果想要用其他key值來取值就可以使用Dict，用{ }來建立
*	用 [ key ] 來加入或改變一個項目

In [18]:
food = {'A': 'rice', 'B': 'noodle'}
print('food[A]',food['A'])
print('food',food)

food['C'] = 123	
print('food',food)

food['B'] = True, 1+3j
print('food',food)

food[A] rice
food {'A': 'rice', 'B': 'noodle'}
food {'A': 'rice', 'B': 'noodle', 'C': 123}
food {'A': 'rice', 'B': (True, (1+3j)), 'C': 123}

*	用 keys() 取得所有鍵
*	用 values() 取得所有值
*	用 items() 取得每一對鍵/值

In [19]:
print(food.keys())
print(food.values())
print(food.items())

dict_keys(['A', 'B', 'C'])
dict_values(['rice', (True, (1+3j)), 123])
dict_items([('A', 'rice'), ('B', (True, (1+3j))), ('C', 123)])

tuple
*   tuple與list相同處為可疊代(可用迴圈讀取)相異處為(不可修改)
*   當tuple只有一個資料需要加入逗號

In [25]:
number = 0, 10, 55, 72, 88, 120, 66
one = (8)
only_one = (8,)
print(type(one),type(only_one),type(number))
print(number[3])
print(number[-2])
print(number[1:6:2])

<class 'int'> <class 'tuple'> <class 'tuple'>
72
120
(10, 72, 120)

set
*  set是無序且集合裡是不會包含重複的元素
*  add(value) 來加入新元素, 使用 remove(value) 來移除元素

In [26]:
set1 = set()  #空的set利用set()來建立
set2 = {2, 1, 4, 5, 3}  #也可利用{元素來創立}
set3 = {1, 1, 2, 2, 3}  #set裡元素不重複

print(set1)
print(set2)
print(set3)
set3.add(4)
set2.remove(2)
print(set2)
print(set3)

set()
{1, 2, 3, 4, 5}
{1, 2, 3}
{1, 3, 4, 5}
{1, 2, 3, 4}

if/while/for 用法

if判斷式
    
    if 關係運算式:
      敘述
    elif 關係運算式:
      敘述
    else:
      敘述

In [28]:
a = 2
if(a == 1):
  print('a is ',a)
elif(a == 2):
  print('aa is ',a)
elif(a == 3):
  print('aaa is ',a)
else:
  print('aaaa is ',a)

aa is  2

（&，|）和（and，or）
* a & b, a | b, a and b, a or b
* 如果 a 和 b 都是邏輯值, 則 and 和 & ; or 和 | 沒有差異
* 如果 a 和 b 是數值變數, 則 & 和 | 為(二進)位運算
*   input> & |
*    0 0 >> 0 0
*    1 0 >> 0 1
*    0 1 >> 0 1
*    1 1 >> 1 1

In [35]:
a = 10 #1010
b = 9 #1001
print(a & b)  #8 = 1000
print(a | b)  #11 = 1011

c = True
d = False
print(c & d)  #False
print(c | d)  #True

8
11
False
True

* and 和 or 為邏輯運算, 判斷是否為0. 0為False, 非0為True. 
* and 運算有包含0, 則返回0; 如果無0, 則返回後值.
* or 運算中有包含非0值時, 返回第一個非0值.

In [39]:
a = 10 #1010
b = 9 #1001
zero = 0
print(a and b)  #9 
print(a or b)  #10
print(zero and a) #0
print(a or b or zero) #10
print(b or a or zero) #9

c = True
d = False
print(c and d)  #False
print(c or d)  #True

9
10
0
10
9
False
True

* 將上述應用於if

In [40]:
a = 6

if(a>1 and a<5):
  print('111')
elif(a>=5 and a<=10):
  print('222')
else:
  print('333')

222

while關係運算式:

    while 條件:
    
      if 關係運算式:
        continue
      if 關係運算式:
        break

In [42]:
a = -1
while a < 5:
  a = a + 1
  print(a)

0
1
2
3
4
5

*   break: 當條件符合時會強制結束迴圈
*   continue: 當條件符合時會跳過本次迴圈剩下的程式碼
*   pass: 當條件符合時會忽略該條件並正常運行(那用途?)

In [45]:
a = -1
while True:
  a = a + 1
  
  if(a == 10):
    print('it is', a,'now')
    break
  elif(a == 5):
    print('it is', a,'1 now')
    continue
    print('it is', a,'2 now')
  elif(a == 4):
    print('it is', a,'1 now')
    pass
    print('it is', a,'2 now')
  else:
    print('it is', a,' now')
  print('number', a)
print('It is done')

it is 0  now
number 0
it is 1  now
number 1
it is 2  now
number 2
it is 3  now
number 3
it is 4 1 now
it is 4 2 now
number 4
it is 5 1 now
it is 6  now
number 6
it is 7  now
number 7
it is 8  now
number 8
it is 9  now
number 9
it is 10 now
It is done

range函數>>range(start, end, step)
* start: 計數從start 開始。默認是從0 開始。例如range（5）等於range（0， 5)
* stop:計數到stop結束，但不包括stop。例如：range（0， 5）是[0, 1, 2, 3, 4]沒有5
* step：步長，默認為1。例如：range（0， 5） 等於range(0, 5, 1)

In [47]:
a = range(10)
print(type(a))
print(a)

<class 'range'>
range(0, 10)
<class 'range'>
range(2, 10, 3)

for關係運算式:

    for i in sequence:
      放要執行的東西

In [49]:
for i in range(5):
  print(i)

print('-------')

for i in range(0,10,3):
  print(i)

0
1
2
3
4
-------
0
3
6
9

In [50]:
a = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

for i in a:
  print(i)

for i in range(len(a)):
  print(i,a[i])

a
b
c
d
e
f
g
0 a
1 b
2 c
3 d
4 e
5 f
6 g

In [54]:
food = {'A': 'rice', 'B': 123, 'C': ['pizza','155']}

for key in food.keys():
  print(key)

for value in food.values():
  print(value)

for item in food.items():
  print(item)

for i in food:
    print(i)

A
B
C
rice
123
['pizza', '155']
('A', 'rice')
('B', 123)
('C', ['pizza', '155'])
A
B
C

practice 1
給定一個序列請分別把ATCG累加起來並輸出

輸出格式(a:數量,t:數量,c:數量,g:數量)

In [ ]:
seq = 'gcccagtctgtgacccagcttgacagccaagtccctgtctttgaagaagcccctgtggagctgaggtgcaactactcatcgtctgtttcagtgtatctcttctggtatgtgcaataccccaaccaaggactccagcttctcctgaagtatttatcaggatccaccctggttgaaagcatcaacggttttgaggctgaatttaacaagagtcaaacttccttccacttgaggaaaccctcagtccatataagcgacacggctgagtacttctgtgctgtgagtga'
######## TODO ########

a: 69 t: 77 c: 75 g: 63

print('a:', seq.count('a'), 't:', seq.count('t'), 'c:', seq.count('c'), 'g:', seq.count('g'))

函式(Function)結構

def關係運算式:

    def 函式名稱(參數):
      運行的東西
      return

In [4]:
def caculate(num1,num2):
  devide = num1 / num2
  mult = num1 * num2
  return devide,mult
def sum(_1,_2):
  return _1 + _2
def replace_word(word, old, new):
    word = word.replace(old,new)  
    return word

a = 12 
b = 7
total = sum(a,b)
print(total)

de , mu = caculate(a,b)
print(de,mu)

voc = 'cat'
old_char = 'a'
new_char = 'u'
new_voc = replace_word(voc, old_char, new_char)
print(voc)
print(new_voc)

19
1.7142857142857142 84
cat
cut

Practice 2
* Sequence Alignment Scoring
* match 2分 mismatch -1分 gap -2分
給定兩個序列請用function算出分數

* class類別，就是像一個模組，可以產出具有相似特性的實體(物件)
* 在__init__方法裡面建立初始化物件的變數
* 用物件名稱.變數名 = 變數值

In [ ]:
def score_align(seq1, seq2):
  ######## TODO ########
  
  return 0

seq1 = '--AGTGCATG-ACATA'
seq2 = 'TCAGTC--TCTACAGA'

score_align(seq1,seq2)

In [10]:
class location():
  def __init__(self, country, city):
    self.country = country
    self.city = city
  def place(self):
    return self.country+' / '+self.city
  def up_and_low(self):
    big_country = self.country.upper()
    small_city = self.city.lower()
    return big_country+' / '+ small_city 
  def IDKQQ(self):
    pass

NTU = location('Taiwan','Taipei')
print(NTU.country)
print(NTU.city)
print(NTU.place())
print(NTU.up_and_low())

Taiwan
Taipei
Taiwan / Taipei
TAIWAN / taipei

With open函式開啟檔案的各種方式

    with open(路徑 , type) as 變數:
      放要執行的東西

* type	info
* 'r'	以只讀方式開啟檔案。檔案的指標將會放在檔案的開頭。這是預設模式。
* 'w'	開啟一個檔案只用於寫入。如果該檔案已存在則將其覆蓋。如果該檔案不存在，建立新檔案。
* 'a'	開啟一個檔案用於追加。如果該檔案已存在，檔案指標將會放在檔案的結尾。也就是說，新的內容將會被寫入到已有內容之後。如果該檔案不存在，建立新檔案進行寫入。

In [ ]:
with open('/your_path/test.txt' , 'w') as f: #寫入一個檔案叫做test
  for i in range(10):
    f.write(str(i)+'\n')                     #寫入0-9
  
with open('/your_path/test.txt' , 'r') as f: #讀取test檔案
  for i in f:                          #利用迭代的方式得到每一行 
    print(i)